# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

sur :
  pousser :
    branches : [  "principal"  ]
  demande de fusion :
    branches : [  "principal"  ]

emplois :
  construire :

    fonctionne sous : ubuntu-latest

    stratégie :
      matrice :
        version de Node : [ 18.x , 20.x , 22.x ]
        # Consultez le calendrier des versions de Node.js prises en charge sur https://nodejs.org/en/about/releases/

    étapes :
    - utilise : actions/checkout@v4
    - nom : Utiliser Node.js $ { { matrix.node-version } }
      utilise : actions/setup-node@v4
      avec :
        version de Node : $ { { matrix.node-version } }
        cache : 'npm'
    - exécuter : npm ci
    - exécuter : npm run build --if-present
    - exécuter : test npm
